.social-icons {
  text-align: center;
  }  
.social-icons li {
  display:inline-block;
  list-style-type:none;
  color: gray;
  }
.social-icons li a {
  border-bottom: none;
  }
.social-icons li img {
  width:70px;
  height:70px;
  margin-right: 20px;
}

.social-footer {
  padding: 1rem;
  background: gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
