#head1 {
text-align: center;
color: #ffffff;
font-size: 40px;
letter-spacing: .75px;
}

#404 {
border-top: 30px solid #ffffff;
text-align: center;
color: #ffffff;
font-size: 20px;
letter-spacing: .75px;
}

#spacer1 {
  border-top: 30px solid #000000;
}

#links {
  border-top: 20px solid #000000;
  color: #ffffff;
font-size: 15px;
  text-align: center;
  letter-spacing: .75px;
}

#body {
  border-top: 20px solid #000000;
  color: #ffffff;
font-size: 15px;
  text-align: center;
  letter-spacing: .75px;
}

#spacer2 {
  border-top: 20px solid #000000;
}

#spacer3 {
  border-top: 10px solid #000000;
}
