#head1 {
text-align: center;
color: #000000;
font-size: 40px;
letter-spacing: .75px;
}

#404 {
border-top: 30px solid #ffffff;
text-align: center;
color: #000000;
font-size: 20px;
letter-spacing: .75px;
}

#spacer1 {
  border-top: 30px solid #ffffff;
}

#links {
  border-top: 20px solid #ffffff;
  color: #000000;
font-size: 15px;
  text-align: center;
  letter-spacing: .75px;
}

#body {
  border-top: 20px solid #ffffff;
  color: #000000;
font-size: 15px;
  text-align: center;
  letter-spacing: .75px;
}

